<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xgc1986.ripplebuttonsample" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.RippleButtonDemoActivity"
            android:label="RippleButton Sample"
            android:theme="@style/BlueTheme" >
        </activity>
        <activity
            android:name=".demo.RippleImageButtonDemoActivity"
            android:label="RippleImageButton Sample"
            android:theme="@style/GreenTheme" >
        </activity>


        <activity
            android:name=".demo_v19.RippleButtonDemoV19Activity"
            android:label="RippleButton Sample"
            android:theme="@style/BlueTheme" >
        </activity>
        <activity
            android:name=".demo_v19.RippleImageButtonDemoV19Activity"
            android:label="RippleImageButton Sample"
            android:theme="@style/GreenTheme" >
        </activity>
    </application>

</manifest>
